subject-ws/src/main/java/cxf/DefaultSmelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://cxf" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://cxf/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cxf">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cxf/xsd">
            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://cxf/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cxf">
            <xs:import namespace="http://cxf/xsd"/>
            <xs:element name="sayHi">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sayHiResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sayHiToUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="ax21:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sayHiToUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUsers">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUsersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sayHiRequest">
        <wsdl:part name="parameters" element="ns:sayHi"/>
    </wsdl:message>
    <wsdl:message name="sayHiResponse">
        <wsdl:part name="parameters" element="ns:sayHiResponse"/>
    </wsdl:message>
    <wsdl:message name="getUsersRequest">
        <wsdl:part name="parameters" element="ns:getUsers"/>
    </wsdl:message>
    <wsdl:message name="getUsersResponse">
        <wsdl:part name="parameters" element="ns:getUsersResponse"/>
    </wsdl:message>
    <wsdl:message name="sayHiToUserRequest">
        <wsdl:part name="parameters" element="ns:sayHiToUser"/>
    </wsdl:message>
    <wsdl:message name="sayHiToUserResponse">
        <wsdl:part name="parameters" element="ns:sayHiToUserResponse"/>
    </wsdl:message>
    <wsdl:portType name="SmelloWorldPortType">
        <wsdl:operation name="sayHi">
            <wsdl:input message="ns:sayHiRequest" wsaw:Action="urn:sayHi"/>
            <wsdl:output message="ns:sayHiResponse" wsaw:Action="urn:sayHiResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getUsers">
            <wsdl:input message="ns:getUsersRequest" wsaw:Action="urn:getUsers"/>
            <wsdl:output message="ns:getUsersResponse" wsaw:Action="urn:getUsersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sayHiToUser">
            <wsdl:input message="ns:sayHiToUserRequest" wsaw:Action="urn:sayHiToUser"/>
            <wsdl:output message="ns:sayHiToUserResponse" wsaw:Action="urn:sayHiToUserResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SmelloWorldSoap11Binding" type="ns:SmelloWorldPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sayHi">
            <soap:operation soapAction="urn:sayHi" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUsers">
            <soap:operation soapAction="urn:getUsers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayHiToUser">
            <soap:operation soapAction="urn:sayHiToUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SmelloWorldSoap12Binding" type="ns:SmelloWorldPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sayHi">
            <soap12:operation soapAction="urn:sayHi" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUsers">
            <soap12:operation soapAction="urn:getUsers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayHiToUser">
            <soap12:operation soapAction="urn:sayHiToUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SmelloWorldHttpBinding" type="ns:SmelloWorldPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="sayHi">
            <http:operation location="sayHi"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUsers">
            <http:operation location="getUsers"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayHiToUser">
            <http:operation location="sayHiToUser"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SmelloWorld">
        <wsdl:port name="SmelloWorldHttpSoap11Endpoint" binding="ns:SmelloWorldSoap11Binding">
            <soap:address location="http://localhost:8080//services/cxf/DefaultSmelloWorld"/>
        </wsdl:port>
        <wsdl:port name="SmelloWorldHttpSoap12Endpoint" binding="ns:SmelloWorldSoap12Binding">
            <soap12:address location="http://localhost:8080//services/cxf/DefaultSmelloWorld"/>
        </wsdl:port>
        <wsdl:port name="SmelloWorldHttpEndpoint" binding="ns:SmelloWorldHttpBinding">
            <http:address location="http://localhost:8080//services/cxf/DefaultSmelloWorld"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
